.body {
  background-color: #F2F4F5;
}

.container {
  width: 100%;
  max-width: 1205px;
  margin: 0px auto;
}

.tag {
  padding: 8px;
  border-radius: 8px;
  color: #550FED;
  background-color: #CCB7F9;
  display: inline-block;
  margin-bottom: 24px;
}

header {
  background-color: #550FED;
}
header .nav {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
header .nav nav ul {
  display: flex;
  gap: 72px;
  justify-content: center;
  align-items: center;
}
header .nav nav ul a {
  color: #C8C2D6;
}
header .nav nav ul a:hover {
  color: #1E1E1E;
}
header .search {
  width: 100%;
  max-width: 843px;
  margin: 0px auto;
  padding: 100px 64px;
}
header .search h2 {
  color: #F2F4F5;
  text-align: center;
  margin-bottom: 20px;
}
header .search form {
  background-color: white;
  border-radius: 8px;
  width: 843px;
  height: 43px;
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .search form input {
  border: none;
  width: 72%;
  height: 35px;
}
header .search form button {
  background-color: #1E1E1E;
  border: none;
  text-transform: uppercase;
  border-radius: 8px;
  color: white;
  padding: 14px 82px;
  font-weight: bold;
}
header .search form button img {
  display: none;
}
header img {
  width: 232px;
  height: 60px;
}

main h1 {
  padding-top: 60px;
  max-width: 548px;
  padding-bottom: 32px;
}
main .state .cards {
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
main .state .cards .card {
  border-radius: 8px;
  border: 1px solid #C8C2D6;
  overflow: hidden;
}
main .state .cards .card .card-content {
  padding: 24px;
  background-color: white;
}
main .state .cards .card .card-content p:first-child {
  margin-bottom: 8px;
  font-weight: bold;
}
main .state .cards .card .card-content p:nth-child(2) {
  margin-bottom: 24px;
  color: #716C7C;
}
main .state .cards .card .card-content a {
  text-transform: uppercase;
  font-weight: bold;
}
main .state .cards .card .card-content a span {
  color: #550FED;
  margin-right: 16px;
}

.button {
  background-color: #550FED;
  color: white;
  border: 1px solid #C8C2D6;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 8px;
  text-transform: uppercase;
  margin-bottom: 96px;
  width: 100%;
  max-width: 160px;
}
.button:hover {
  background-color: #CCB7F9;
  color: #550FED;
}
.button span {
  color: #1E1E1E;
}

.banner {
  background-image: url("../images/barra.png");
  background-repeat: no-repeat;
  height: 320px;
  background-position: center top;
}
.banner .container {
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.banner .spacing {
  height: 100px;
  width: 602px;
}
.banner .content {
  width: 100%;
  max-width: 420px;
}
.banner .content .tag {
  margin-bottom: 8px;
}
.banner .content h3 {
  font-size: 4rem;
  font-weight: 500;
}
.banner .content .button {
  background-color: #550FED;
  color: white;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 8px;
  text-transform: uppercase;
  margin-top: 24px;
  width: 100%;
  max-width: 160px;
}
.banner .content .button:hover {
  background-color: #CCB7F9;
  color: #550FED;
}
.banner .content .button span {
  color: #1E1E1E;
  padding-right: 8px;
}

.overview {
  margin-top: 96px;
}
.overview h3 {
  font-size: 3.2rem;
  margin-bottom: 32px;
}
.overview .content {
  background-color: white;
  border: 1px solid #C8C2D6;
  border-radius: 8px;
  padding: 54px;
}
.overview .content .items {
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.overview .content .items .item p:first-child {
  font-weight: bold;
  margin-bottom: 4px;
}
.overview .content .items .item p:nth-child(2) {
  font-size: 2.4rem;
  color: #716C7C;
}

footer {
  background-color: #F2F4F5;
  padding: 80px 0;
  color: #716C7C;
  font-size: 0.9375rem;
}
footer .container {
  width: 100%;
  max-width: 1205px;
  margin: 0 auto;
}
footer .content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  gap: 160px;
  align-items: start;
}
footer .apps ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .apps li {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .apps li img {
  height: 40px;
  width: auto;
}
footer .apps li a {
  font-weight: bold;
  color: #1E1E1E;
  text-decoration: none;
  transition: color 0.2s;
}
footer .apps li a:hover {
  color: #550FED;
}
footer .navs {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  gap: 80px;
}
footer .navs nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .navs nav h4 {
  margin: 0 0 16px;
  font-size: 19px;
  font-weight: 600;
  color: #1E1E1E;
}
footer .navs nav a {
  color: #716C7C;
  text-decoration: none;
  line-height: 1.5;
}
footer .navs nav a:hover {
  color: #550FED;
}
footer .copyright {
  margin-top: 80px;
  text-align: start;
}
footer .copyright small {
  font-size: 12px;
  color: #716C7C;
}/*# sourceMappingURL=style.css.map */