$primary-color: #550FED;
$secondary-color: #CCB7F9;
$black: #1E1E1E;
$gray: #716C7C;
$border: #C8C2D6;
$background: #F2F4F5; 

$container: 1205px;

$breakpointMobile: 402px;
$breakpointTablet: 744px;
$breakpointLaptop: 1024px;